
<ion-view view-title="Store">
	<ion-content class="padding">
		<ion-list>
			<ion-item>
				<a class="item item-thumbnail-left" href="#">
		        	<img src="../img/ionic.png">
		        	<h2>Product1</h2>
		        	<p>Description for product1...</p>
		        </a>
			</ion-item>
			<ion-item>
				<a class="item item-thumbnail-left" href="#">
		        	<img src="../img/ionic.png">
		        	<h2>Product2</h2>
		        	<p>Description for product2...</p>
		        </a>
			</ion-item>
			<ion-item>
				<a class="item item-thumbnail-left" href="#">
		        	<img src="../img/ionic.png">
		        	<h2>Product3</h2>
		        	<p>Description for product3...</p>
		        </a>
			</ion-item>
			<ion-item>
				<a class="item item-thumbnail-left" href="#">
		        	<img src="../img/ionic.png">
		        	<h2>Product4</h2>
		        	<p>Description for product4...</p>
		        </a>
			</ion-item>
			<ion-item>
				<a class="item item-thumbnail-left" href="#">
		        	<img src="../img/ionic.png">
		        	<h2>Product5</h2>
		        	<p>Description for product5...</p>
		        </a>
			</ion-item>
			<ion-item>
				<a class="item item-thumbnail-left" href="#">
		        	<img src="../img/ionic.png">
		        	<h2>Product6</h2>
		        	<p>Description for product6...</p>
		        </a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>